.color{
    background-color: purple;
    height: 50vh;
    width: 50%;
}
.color1{
    background-color: blueviolet;
    height: 50vh;
    width: 50%;
}
.side{
    display: flex;
    flex-direction: row;
}
.color h2{
    color: white;
    text-align: center;
}
.color1 h2{
    color: white;
    text-align: center;
}
.box{
    background-color: red;
    height: 80px;
    width: 140px;
    margin-left: 280px;
}
.box h3{
    text-align: center;
    padding-top: 20px;
}